ul{
    padding-left: 0px;
}
.navbar{
    background-color:#101518;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    --bs-navbar-padding-x:none;
    --bs-navbar-toggler-padding-y:none !important;
}
